header{
    width: 100%;
    height: 72px;
    background-color: var(--nav-bg);
    padding: 8px 0px;
}

.header-container{
    width: 1280px;
    height: 56px;
    margin: auto;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* github-icon */

.github-icon{
    margin: 0px 24px 0px 0px;
    height: 34px;
}

.github-icon svg{
    height: 32px;
    width: 32px;
    fill: hsl(0, 0%, 100%);
}

/* navigation-left */

.navigation-left{
    display: flex;
    list-style: none;
}

.navigation-left li{
    margin: 0px 16px 0px 0px;
    display: inline-block;
    height: 56px;
}

.navigation-left li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 16px 0px;
    transition: opacity 400ms ease;
    display: inline-block;
}

.navigation-left li a:hover svg path{
    stroke: hsl(0, 0%, 100%);
}

.navigation-left li a:hover {
    opacity: 0.75;
}

.navigation-left li a svg{
    height: 6.85px;
    width: 12px;
    position: relative;
    top: -2px;
}

.navigation-left li a svg path{
    stroke: hsla(0, 0%, 100%, 0.5);
}

/* .navigation-right */

.navigation-right{
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-right li{
    flex-shrink: 0;
}

.search-label{
    width: 240px;
    height: 38px;
    background-color: var(--theme-bg);
    border: 1px solid hsl(212, 12%, 21%);
    border-radius: 6px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

#search{
    width: 100%;
    line-height: 20px;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    color: hsl(270, 17%, 82%);
}

#search::placeholder{
    color: hsl(270, 17%, 82%);
}

.sign-in{
    margin-right: 16px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: opacity 400ms ease;
}

.sign-in:hover{
    opacity: 0.75;
}

.sign-up{
    padding: 4px 8px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    border: 1px solid hsl(212, 12%, 21%);
    border-radius: 6px;
    transition: opacity 400ms ease;
}

.sign-up:hover{
    opacity: 0.75;
}

.search-label svg{
    margin-right: 8px;
}